<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>devcloud-artifactory</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
        <server>
            <id>devcloud-artifactory-snapshots</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
        <server>
            <id>artifactory.repo</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
        <server>
            <id>lnssm-release</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
        <server>
            <id>lnssm-snapshot</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
        <server>
            <id>PS-JAVA</id>
            <username>502700248</username>
            <password>${banzai}</password>
        </server>
    </servers>
    <!-- Repositories
    | You can specify your repos here or in your project's own pom.xml files.
    -->
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>http://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>lnssm-release</id>
                    <name>build.GE Artifactory-releases</name>
                    <url>https://devcloud.swcoe.ge.com/artifactory/LNSSM/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>lnssm-snapshot</id>
                    <name>build.GE Artifactory-releases</name>
                    <url>https://devcloud.swcoe.ge.com/artifactory/LNSSM-SNAPSHOT/</url>
                </repository>
                <repository>
                    <id>artifactory.repo</id>
                    <name>artifactory.repo</name>
                    <url>https://devcloud.swcoe.ge.com/artifactory/repo1/</url>
                </repository>
                <repository>
                    <id>PS-JAVA</id>
                    <name>build.GE PS-JAVA</name>
                    <url>https://devcloud.swcoe.ge.com:443/artifactory/PS-JAVA/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>devcloud-artifactory</id>
                    <name>plugins-release</name>
                    <url>https://devcloud.swcoe.ge.com/artifactory/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>devcloud-artifactory-snapshots</id>
                    <name>plugins-snapshot</name>
                    <url>https://devcloud.swcoe.ge.com/artifactory/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
